.main {
    position: relative; /* чтобы overlay позиционировался относительно .main */
    background-image: url('main4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(128, 117, 109, 0.7); /* цвет и прозрачность */
    z-index: 1;
}

.text-container {
    position: relative;
    color: white;
    padding: 20px;
    z-index: 2; /* чтобы текст был поверх overlay */
    list-style: none;
}


.text-container li {
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(182, 178, 159, 0.4);
    border-radius: 8px;
    max-width: 100%;
    position: relative;
    width: fit-content;
}

.text-container li:nth-child(2) {
    margin-left: 30px;
}
.text-container li:nth-child(3) {
    margin-left: 60px;
}
.text-container li:nth-child(4) {
    margin-left: 90px;
}

.text-container li::before {
    content: "▸";
    color: #ffffff;
    display: inline-block;
    width: 1em;
    margin-right: 10px;
}

.mainImg {
    width: 50%;
}
