.main {
    background-image: url('main3.jpeg'); /* Путь к изображению */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450PX; /* Высота блока */
    display: flex;
    justify-content: center;
    align-items: center; /* Выравниваем текст по центру вертикально */
    padding: 20px;
    text-align: center;
}

.text-container {
    background: rgba(128, 117, 109, 0.8); /* Полупрозрачный фон */
    color: white; /* Белый текст */
    padding: 20px;
    list-style: none;
}

.text-container li {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.text-container li::before {
    content: "▸"; /* Стрелочка, можно заменить на другой символ */
    color: #ffffff; /* Цвет стрелочки */
    display: inline-block;
    width: 1em; /* Пространство перед текстом */
    margin-right: 10px; /* Отступ между стрелкой и текстом */
}

.mainImg {
    width: 50%;
}
