.headerContainer {
    position: relative;
}

.headerBlock {
    background-color: #80756d;
    height: 57px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

/* Десктопное меню */
.desktopMenu {
    display: flex;
    width: 100%;
}

.headerA {
    display: inline-block;
    width: 25%;
    text-align: center;
    text-decoration: none;
}

.headerA .headerBut {
    font: 15px Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: block;
    width: 100%;
    padding: 19px 0;
    border: none;
    background-color: #80756d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    border-left: 1px solid #756b64;
    border-right: 1px solid #756b64;
}

.headerBut:hover {
    background-color: #756b64;
    border-radius: 0px;
}

.iconRow {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin-left: 15px;
}

.iconStyle {
    color: #ffffff;
    filter: brightness(0) invert(1);
}

.avitoIconStyle {
    width: 35px;
}

/* Иконка бургер-меню */
.mobileMenuIcon {
    display: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

/* Мобильное выпадающее меню */
.mobileMenu {
    display: none;
    flex-direction: column;
    background-color: #80756d;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.mobileMenu a {
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #80756d;
    transition: background-color 0.3s;
}

.mobileMenu a:hover {
    background-color: #756b64;
}

/* Мобильная адаптация */
@media (max-width: 768px) {
    .desktopMenu {
        display: none;
    }

    .mobileMenuIcon {
        display: block;
    }

    .mobileMenu {
        display: flex;
    }
}
